.DS_Store
BugWacker.xcodeproj/project.xcworkspace
BugWacker.xcodeproj/xcuserdata
BugWacker.xcworkspace/xcuserdata
UserInterfaceState.xcuserstate
build
Externals/XcodeCoverage/xcode-build-environment.sh
.pt
*~
*.orig
.irb-history
*.orig
.idea/
*.dSYM.zip
*.ipa
.bundle/
.gitconfig
.pivotal_cache
.pivotalrc