<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Specs.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C95A286819B137FB00535906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C95A287E19B137FC00535906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C99EEBB619B643EF0039B82D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C99EEBC019B649400039B82D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9A2B39619AFA66100662321</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9A2B3A619AFA66100662321</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9A2B3C719AFA9D500662321</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9A2B40319AFAD0000662321</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
